@import "compass/css3";
@import "typography";
@import "icons";

*, *:before, *:after {
    @include box-sizing(border-box);
 }

 body {
    background: #fafafa;
}

blockquote {
    quotes: "“" "”" "‘" "’";
    position: relative;
    margin: 3em 1em 2em 1em;
    font-size: .8em;
    color: #ccc;
    &:before {
        content: open-quote;
        font-size: 3em;
        font-family: "Trebuchet MS", Georgia, serif;
        color: #333;
        position: absolute;
        top: -.5em;
        left: -.5em;
    }
    &:after {
        content: no-close-quote;
    }

    @media (min-width: 450px) {
        margin: 3em 4em 2em 4em;
    }
}

a {
    color: #777;
    text-decoration: none;
    &:hover { text-decoration: underline; }
}

header {
    border-bottom: 1em solid #333;
    padding: 1em 0;
    text-align: right;
    .me {
        width: 15%; vertical-align: bottom;
        @media print {
            float: right;
        }
    }
    a {
        color: #333; text-decoration: none;
        &:hover { text-decoration: none; }
    }
    .icon {
        font-weight: 400;
        font-size: 0.8em;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        padding: 0.5em;

        &:hover {
            background-color: #333;
            color: #fff;
        }

        @media (min-width: 340px) {
            font-size: 1em;
        }

        @media (min-width: 490px) {
            font-size: 1.5em;
        }

        @media print {
            font-size: .6em;
            text-align: left;
            display: inline-block;
            width: 49%;
            &:after {
                content: " " attr(href) "";
            }
        }
    }
    @media print {
        text-align: left;
    }
}

footer {
    padding: 3em;
    .author {
        display: block;
        text-align: right;
        font-style: italic;
        color: #777;
        &:before {
            content: "- ";
        }
    }
    @media print {
        display: none;
    }
}

header, .main, footer {
    margin: 0 auto;
    width: 90%;
    @media (min-width: 760px) {
        width: 60%;
        max-width: 38em;
    }
}

.main section {
    h2:before { content: '/'; font-size: 3em; margin:0 -0.1em;}
    .info, .timespan, .award {
        font-size: 0.8em; color: #ccc; display: block; margin-right: 2em;
        @media (min-width: 690px) {
            display: inline-block;
        }
    }
    .icon { font-size: 1.2em; color: #333; }
    .item { padding: 0 0 3em 0; page-break-inside:avoid; }
    .title {
        margin-left: 3em; position: relative;
        .icon {
            position: absolute;
            top: 0;
            left: -2em;
        }
    }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}